[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
django = "==3.2.20"
cx-oracle = "*"
django-db-connection-pool = {extras = ["oracle"], version = "*"}
django-ninja = "*"
pydantic = "*"
aiohttp = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
