*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    display: flex;
    align-items:center;
    justify-content: center;
    min-height: 100vh;
    background: #6990f2;
    -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}
.wrapper{
    width: 430px;
    padding: 30px;
    background:#fff;
    border-radius:5px;
}
.wrapper header{
    color:#6990f2;
    font-size:27px;
    font-weight: 600;
    text-align: center;
}
.wrapper form{
    height: 167px;
    display: flex;
    align-items:center;
    border-radius:5px;
    cursor: pointer;
    border: 2px dashed #6990f2;
    justify-content: center;
    flex-direction: column;
    margin:30px 0;
}

form :where(i,p){
    color: #6990f2;
}

form i {
    font-size: 50px; 
}

form p{
    font-size: 16px; 
    margin-top: 15px;
}

section .row{
    background:#e9f0ff;
    margin-bottom: 10px;
    list-style:none;
    padding: 15px 20px;
    border-radius:5px;
    display: flex;
    align-items:center;
    flex-direction: row;
    justify-content: ;
}

section .row i svg {
    font-size: 30px;
    color: #6990f2;
}

section .details span {
    font-size:14px;
}

.progress-area .row .content{
    width:100%;
    margin-left: 15px;
}

.progress-area .details{
    display: flex;
    align-items:center;
    margin-bottom: 7px;
    justify-content: space-between;
}

.uploaded-area .row .content{
    width: 100%;
display: flex;
align-items:center;
justify-content: space-between;
}
.uploaded-area .row .details{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.uploaded-area .details .size{
    font-size: 11px;
    color: #404040;
}

.uploaded-area .fa-check{
    font-size: 16px;
    color: #6990f2;
}

.uploaded-area{
    max-height: 430px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.uploaded-area::-webkit-scrollbar{
    width: 0px;
}


.progress-area .progress-bar{
    height: 6px;
    width: 100%;
    background: #fff;
    margin-bottom: 4px;
    border-radius:30px;
}

.progress-bar .progress{
    height: 100%;
    width: 50%;
    background: #6990f2;
    border-radius: inherit;
}
.item.dragging{
    opacity: 0.6;
}

.item.dragging :where(.details, i){
    opacity: 0;
}


.button{
    height: 40px;
    width:160px;
    background:#6990f2;
    border-radius:55px;
    cursor:pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    transition: all 6s easy-in-out;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
@keyframes layer {
    100%{
        left:0%;
    }
}
.button .content{
    height:100%;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: all 0.2s ease;
    transition-delay:0.2s;
}

.button .content i svg,
.button .content .button-text{
    color:#fff;
    font-size: 10px;
    font-weight: 150px;
}
.button .content .button-text{
    font-size: 16px;
    font-weight: 150;
    margin-left:8px
}
.button .content i svg{
    display: flex;
    align-items:center;
}
