<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IP-finder</title>
    {% load static %}
    <link href="{% static 'index.css' %}" rel="stylesheet">
    <script src="{% static 'node_modules/jquery/dist/jquery.js' %}"></script>
<!--    jQuery don't work stably with jquery.min.js locally-->
<!--    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>-->
<!--    <script src="https://code.jquery.com/jquery.min.js"></script>-->
</head>

<body>
    <div class="wrapper">
        <a href="{% url 'result' %}" target="_blank">RESULTS</a>
        <header>IP-FINDER</header>
        <form id="handler" method="POST" enctype="multipart/form-data" class="mainClick">
            {% csrf_token %}
            <input type="file" name="file_field" class="file-input" id="fileInputed" accept=".xlsx" hidden multiple />
            <i class="fas fa-cloud-upload-alt">
                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor"
                    class="bi bi-cloud-arrow-up-fill" viewBox="0 0 16 16">
                    <path
                        d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2zm2.354 5.146a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708l2-2a.5.5 0 0 1 .708 0l2 2z" />
                </svg>
            </i>
            <p>Browse File to Upload</p>
        </form>

        <section id="fileList" class="progress-area sortable-list"></section>

        <div class="button" id="upload">
            <div class="content">
                <i class="bi bi-cloud-arrow-down">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                        class="bi bi-cloud-arrow-down" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M7.646 10.854a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 9.293V5.5a.5.5 0 0 0-1 0v3.793L6.354 8.146a.5.5 0 1 0-.708.708l2 2z" />
                        <path
                            d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383zm.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                    </svg>
                </i>
                <span class="button-text" id="uploadSpan">Upload</span>
<!--                <button form="handler" type="submit" class="button-text">Upload</button>-->
            </div>
        </div>

        <div class="button" id="cancel">
            <div class="content">
                <span class="button-text" id="cancel-text">Cancel</span>
            </div>
        </div>

        <div class="button" id="logout">
            <div class="content">
                <a href="{% url 'logout' %}" class="button-text" style="text-decoration: none;">[-> Log out</a>
<!--                <span class="button-text" id="logout-text">Logout</span>-->
            </div>
        </div>

        <div>
            {% if warning_numbers %} <br>
                <span id="warningNameFiles">WARNING NUMBERS in files {{ warning_name_files }}:</span>
                {% for number in warning_numbers %}
                    <span id="warningNumbers">{{ number }}</span>
                {% endfor %} <br> <br>
            {% endif %}
        </div>
        {% if is_admin == 1 %}
            <a href="{% url 'edit_settings' %}" target="_blank">SETTINGS</a>
        {% endif %}
    </div>
</body>

</html>

<script>
    let progressItem = [];
    const form = document.querySelector("form"),
        fileInput = form.querySelector(".file-input");

    const upload = document.getElementById("upload");
    upload.addEventListener("click", () => {
        let file_to_send = [];
        const uniq_file = document.getElementsByClassName('uniq-file');
        if (uniq_file) {
            for (let i = 0; i < uniq_file.length; i++) {
                file_to_send.push(uniq_file[i].getAttribute('data-name'));
            }
        }
        console.log(file_to_send);
    })
    form.addEventListener("click", () => {
        fileInput.click();
    })

    let fileInputed = document.getElementById('fileInputed');
    let fileList = document.getElementById('fileList');

    fileInputed.addEventListener('change', function () {
        let files = fileInputed.files;
        let count = $('.item').length;
        for (let i = 0; i < files.length; i++) {
            let file = files[i];
            let fileName = file.name;
            let fileSize = file.size;
            progressItem[count + i] = 0;

            const data = `
  <li  class="row item uniq-file" draggable="true" data-name="${fileName}">
    <i class="fas fa-file-alt">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
          class="bi bi-file-earmark-text-fill" viewBox="0 0 16 16">
          <path
              d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zM4.5 9a.5.5 0 0 1 0-1h7a.5.5 0 0 1 0 1h-7zM4 10.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 1 0-1h4a.5.5 0 0 1 0 1h-4z" />
      </svg>
    </i>
    <div class="content">
      <div class="details">
        <div class="name">
          <span class="size">${fileName} </span>- 
          <span  class="size">${fileSize} KB</span>
       
          <div class="progress-container">
          <div class="progress-add">
        <span class="font-status"></span>
          <span class="persent"></span>
          
        </div>
        
        <div class="progress-bar">
    <div class="progress" >
    </div> 
        </div>
        </div>
        </div>
        
      </div>
    <section class="pause-proc">
    </section>
      <div class="play-proc">
<!--      hide play, pause, stop, ... buttons -->
<!--            <i class="bi bi-play-fill">-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">-->
<!--                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>-->
<!--            </svg></i>-->
        </div>
<!--        hide play, pause, stop, ... buttons-->
<!--        <div class="download"></div>-->
<!--        <div>-->
<!--                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-delete" viewBox="0 0 16 16">-->
<!--               <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>-->
<!--                </svg></i>-->
<!--                </div>-->
                       
    </li>
  `;

            fileList.insertAdjacentHTML('beforeend', data);

            const sortableList = document.querySelector(".sortable-list");
            const items = sortableList.querySelectorAll(".item");

            items.forEach(item => {
                item.addEventListener("dragstart", () => {
                    setTimeout(() => item.classList.add("dragging"), 0);
                });
                item.addEventListener("dragend", () => item.classList.remove("dragging"));
            });

            const initSortableList = (e) => {

                e.preventDefault();
                const draggingItem = document.querySelector(".dragging");
                const siblings = [...sortableList.querySelectorAll(".item:not(.dragging)")];
                let nextSibling = siblings.find(siblings => {
                    return e.clientY <= siblings.offsetTop + siblings.offsetHeight / 2;

                });
                sortableList.insertBefore(draggingItem, nextSibling);
            }
            sortableList.addEventListener("dragover", initSortableList)
            sortableList.addEventListener("dragenter", e => e.preventDefault())
        }
    })


const uploadSpan = document.getElementById("uploadSpan");

uploadSpan.addEventListener("click", () => {
    document.getElementById("handler").submit();
});

const cancelButton = document.getElementById("cancel");
const cancelText = document.getElementById("cancel-text");
const csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

cancelButton.addEventListener("click", async () => {
    cancelText.innerText = "Cancelling...";
    const response = await fetch("/cancel-task/", {
        method: "POST",
        headers: {
            "X-CSRFToken": csrfToken, // Add a CSRF-token
        },
    });
    if (response.ok) {
        cancelText.innerText = "Cancelled";
    } else {
        cancelText.innerText = "Error";
    }
});

window.onload = () => {
    const warningNameFiles = document.getElementById("warningNameFiles");
    const warningNumbers = document.getElementById("warningNumbers");
    const warningNumbersList = document.querySelectorAll("#warningNumbers");

    if (warningNumbers && warningNumbers.innerText.trim() !== "") {
        let warningNumbersText = "\n";

        warningNumbersList.forEach(numberElement => {
            warningNumbersText += numberElement.innerText + "\n";
        });

        alert(warningNameFiles.innerText + warningNumbersText);
    }
};


    let newSVG = '';
    let content = '';
    let button = `
                <div>
                <i> <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
</svg>
</i>
</div>
`;

    $(document).on("click", ".play-proc", function (event) {


        let buttonIndex = $(".play-proc").index(this);


        if ($(".play-proc").eq(buttonIndex).attr("stop")) { //add pause class
            newSVG = `
        <i class="bi bi-play-fill">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                <path d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"/>
            </svg></i>`;
            content = `Uploaded`;

            $(".play-proc").eq(buttonIndex).removeAttr("stop");
            $(".font-status").eq(buttonIndex).html(content);
            $(".download").eq(buttonIndex).html(button);
            clearInterval(progressData[buttonIndex])


        } else {  //add play class
            newSVG = `<div class="pause">
            <i class="bi bi-pause"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
                         <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
                     </svg></i>
</div>`;
            content = `Uploading`;
            $(".progress-container").eq(buttonIndex).css("opacity", 1);
            //  $(".progress-container").eq(buttonIndex).css("opacity", 0);
            $(".play-proc").eq(buttonIndex).attr("stop", true);
            $("download").eq(buttonIndex).removeClass("bi-x-lg");
            $(".download").eq(buttonIndex).html(button);
            checkProgress(buttonIndex);
        }

        $(".play-proc").eq(buttonIndex).html(newSVG);
        $(".font-status").eq(buttonIndex).html(content);
    });

    $(document).on("click", ".button", function (event) { //add all files to uploading
        let newSVG = '';
        let buttonIndex = $(".play-proc").index(this);
//         hide play, pause, stop, ... buttons
//         newSVG = `<i class="bi bi-pause"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-pause" viewBox="0 0 16 16">
//                          <path d="M6 3.5a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5zm4 0a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0V4a.5.5 0 0 1 .5-.5z"/>
//                      </svg></i>
//
//                     </i>
// `;
        content = `Uploading`;
        $(".progress-container").css("opacity", 1);
        $(".play-proc").attr("stop", true);
        $(".play-proc").html(newSVG);
        $(".font-status").html(content);
        for (let i = 0; i < $(".play-proc").length; i++) {
            checkProgress(i)
        }
    });

    $(document).on("click", ".bi-delete", function (event) { //deleting file
        let buttonIndex = $(".bi-delete").index(this);
        $(".row").eq(buttonIndex).remove();
        clearInterval(progressData[buttonIndex]);
        progressData.splice(buttonIndex, 1);
        progressItem.splice(buttonIndex, 1);
    });

    $(document).on("click", ".bi-download", function (event) { //downloading 
        let buttonIndex = $(".bi-download").index(this);
        alert('are you sure that downloading the file?');
    });

    $(document).on("click", ".play-proc", function (event) {
        let buttonIndex = $(".play-proc").index(this);
    });

    let progressData = [];

    function checkProgress(buttonIndex) {
        let interval = setInterval(() => {
            if ($(".progress").eq(buttonIndex) && progressItem[buttonIndex] < 100) {
                if ($(".progress").eq(buttonIndex).attr('stop')) {
                    alert("have questio")
                } else {
                    updateProcessingStatus(function(progress_, file_index_) {
                        if (progress_ !== undefined && !isNaN(file_index_)) {
                            buttonIndex = file_index_
                            progressItem[buttonIndex] = progress_;
                            $(".progress").eq(buttonIndex).css("width", progressItem[buttonIndex] + "%");
                            $(".persent").eq(buttonIndex).text(progressItem[buttonIndex] + "%");
                        }
                    });
                }
            } else {
                $(".play-proc").eq(buttonIndex).css("display", "none");

                if (progressData[buttonIndex]) {
                    clearInterval(progressData[buttonIndex])
                }
            }
        }, 1000);
        progressData[buttonIndex] = interval
    }

function updateProcessingStatus(callback) {
    fetch('/check_processing_status/')
        .then(response => response.json())
        .then(data => {
            const progress = data.progress;
            const file_index = data.file_index;
            callback(progress, file_index);
        });
}

</script>

<!--Check jQuery-->
<!--<script type="text/javascript">-->
<!--    window.onload = function() {-->
<!--       if (window.jQuery) {-->
<!--          alert('jQuery is loaded');-->
<!--       } else {-->
<!--          alert('jQuery is not loaded');-->
<!--       }-->
<!--    }-->
<!--</script>-->
