<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Uploader</title>
    <link href="./result.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <header>RESULTS</header>
        <div class="content">
            <div class="links">
            <div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div>
            <div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div><div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div><div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div><div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div><div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div><div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div><div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div>
            <div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div>
            <div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div>
            <div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div>
            <div class="details">
                <div class="name">
                    File Name
                </div>

                <div class="delete">
                    <span class="btn-text" user-select="none">Delete</span>
                </div>
            </div>
        </div>

            <div class="mainButton">
            <button class="download">
                <span class="btn-text" user-select="none">Download All</span>
            </button>
        </div>
        </div>
    </div>
</body>

</html>

<script>


</script>